<%= form_with(model: parents_note) do |form| %>
  <% if parents_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parents_note.errors.count, "error") %> prohibited this parents_note from being saved:</h2>

      <ul>
        <% parents_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="parents_notes">
    <p>お子様の体調・様子について、記入ください</p>
    <div id="parent_note_date">
      <%= form.label :parent_note_date, "記入日:" %>
      <%= raw sprintf(form.date_select(:parent_note_date,use_month_numbers:true,date_separator: "%s"), "年","月")+"日" %>
    </div>
    <div id="all_radio">
      <div id="condition">
        <h3 class="parent_title_h3">体調</h3>
        <div id="body_temperature">
          <%= form.label :temperature, "今朝の体温:" %>
          <%= form.select :temperature, [["36.0~36.5","36.0~36.5"],["36.6~37.0","36.6~37.0"],["37.1~37.5","37.1~37.5"]] %>
        </div>
        <%# 体調 %>
        <div id="condition_button">
          <div class="three_button" id="condition_style">
            <p class="button_title">体調:</p>
            <%= form.radio_button :condition, :good %>
            <%= form.label :condition_good, "良い" %>
            <%= form.radio_button :condition, :somewhat_bad %>
            <%= form.label :condition_somewhat_bad, "やや悪い" %>
            <%= form.radio_button :condition, :bad %>
            <%= form.label :condition_bad, "悪い" %>
          </div>
        </div>
      <%# やや悪い・悪いボタンの場合（スライドダウン） %>
      <div id="hidden_detail">
        <%#= 複数選択クリック  %>
        <div id="details">
          <p class="details_title">詳細の選択・記入をお願いします</p>
          <p>（複数選択可能）</p>
          <div id="detail">
            <div class="detail_box">
              <%= form.check_box :snot, {}, "true", "false" %>
              <%= form.label :snot, "鼻水" %>
            </div>
            <div class="detail_box">
              <%= form.check_box :cough, {}, "true", "false" %>
              <%= form.label :cough, "咳" %>
            </div>
            <div class="detail_box">
              <%= form.check_box :slight_fever, {}, "true", "false" %>
              <%= form.label :slight_fever, "微熱" %>
            </div>
            <div class="detail_box">
              <%= form.check_box :heat, {}, "true", "false" %>
              <%= form.label :heat, "発熱" %>
            </div>
            <div class="detail_box">
              <%= form.check_box :diarrhea, {}, "true", "false" %>
              <%= form.label :diarrhea, "下痢" %>
            </div>
            <div class="detail_box">
              <%= form.check_box :vomiting, {}, "true", "false" %>
              <%= form.label :vomiting, "嘔吐" %>
            </div>
            <div class="detail_box">
              <%= form.check_box :anorexia, {}, "true", "false" %>
              <%= form.label :anorexia, "食欲不振" %>
            </div>
            <div class="detail_box">
              <%= form.check_box :cold, {}, "true", "false" %>
              <%= form.label :cold, "風邪" %>
            </div>
            <div>
              <p class="details_title">追記・その他</p>
              <p class="condition_p">※上記の選択内容に追記がある場合は、詳細を入力ください。</p>
              <p class="condition_p">※その他、体調面で連絡したいことがあれば入力ください。</p>
              <%= form.text_area :condition %>  
            </div>
          </div>
        </div>
      </div>
      <%# 排便 %>
      <div class="twe_button" id="defecation">
        <p class="button_title">排便:</p>
        <%= form.radio_button :defecation, :yes %>
        <%= form.label :defecation, "有り", {value: :yes} %>
        <%= form.radio_button :defecation, :none %>
        <%= form.label :defecation, "無し", {value: :none} %>
      </div>
      <%# 排便有りの場合（スライドダウン） %>
      <div id="stool_hidden">
        <div id="stool_yes">
          <%= form.label :stool_yes, "便の様子" %>
          <%= form.select :stool_yes, [["普通便","普通便"],["やや軟便","やや軟便"],["軟便","軟便"],["下痢","下痢"],["水様便","水様便"]] %>
        </div>
        <div id="stool_number">
          <%= form.label :stool_number, "回数" %>
          <%= form.select :stool_number, [["1回","1回"],["2回","2回"],["3回","3回"]] %>
        </div>
      </div>
      <%# 薬 %>
      <div class="twe_button" id="medicine">
        <p class="button_title">薬:</p>
        <%= form.radio_button :medicine, :yes %>
        <%= form.label :medicine, "有り", {value: :yes} %>
        <%= form.radio_button :medicine, :none %>
        <%= form.label :medicine, "無し", {value: :none} %>
      </div>
      <%# 薬有りの場合（スライドダウン） %>
      <div id="medicine_hidden">
        <%= form.label :megicine_yes, "薬の詳細をご記入ください" %>
        <%= form.text_area :megicine_yes %>
      </div>
    </div>
    <%# 食事 %>
    <h3 class="parent_title_h3">食事</h3>
    <p id="parent_title_p">昨日の夕食・今朝の朝食についてご記入ください</p>
    <p id="note_example">例） カレー、味噌汁、ポテトサラダ、イチゴ</p>
    <div id="yesterday_dinner">
      <div class= "twe_button" id="yesterday_appetite">
        <p class="button_title">食欲:</p>
        <%= form.radio_button :yesterday_appetite, :yes %>
        <%= form.label :yesterday_appetite, "有り", {value: :yes} %>
        <%= form.radio_button :yesterday_appetite, :none %>
        <%= form.label :yesterday_appetite, "無し", {value: :none} %>
      </div>
      <div id="yesterday_menu">
      <%= form.label :yesterday_dinner, "夕食メニュー" %>
      <%= form.text_area :yesterday_dinner %>
      </div>
    </div>
    <div id="breakfast">
      <div class= "twe_button" id="breakfast_appetite">
      <p class="button_title">食欲:</p>
        <%= form.radio_button :breakfast_appetite, :yes %>
        <%= form.label :breakfast_appetite, "有り", {value: :yes} %>
        <%= form.radio_button :breakfast_appetite, :none %>
        <%= form.label :breakfast_appetite, "無し", {value: :none} %>
      </div>
      <div id="breakfast_menu">
        <%= form.label :breakfast, "朝食メニュー" %>
        <%= form.text_area :breakfast %>
      </div>
    </div>
  </div>

      </div>
    </div>
    <h3 class="parent_title_h3">ご家庭での様子</h3>
    <div class="field">
      <%= form.label :states, "何でもご記入ください" %>
      <%= form.text_area :states %>
    </div>

    <h3 class="parent_title_h3">保育者への連絡事項</h3>
    <div class="field">
      <%= form.label :information, "連絡事項がある場合は、記入ください" %>
      <%= form.text_area :information %>
    </div>

    <h3 class="parent_title_h3">降園について</h3>
    <div id="person">
      <p>迎えに来る方の名前を記入ください<br>
        ※両親の場合は記入不要です※
      </p>
      <div id="person_flex">
        <%= form.label :person, "迎えの方:" %>
        <%= form.select :person, [["祖母","祖母"],["祖父","祖父"],["姉","姉"],["その他","その他"],["母","母"],["父","父"]] %>
        <%= form.label :person_name , "迎えにくる人の名前（フルネーム）"%>
        <%= form.text_field :person_name %>
      </div>
    </div>
  </div>

    <div class="actions">
      <%= form.submit value="記録を保存", id: :parent_note_input %>
    </div>
        </div>
      </div>
    </div>
    
  <% end %>
