
<div id="class_posts_show_body">
  <h1>取り組み内容</h1>
  <p class="class_posts_show_border_p">タイトル: <%= @class_post.title %></p>
  <div>
    <p class="class_posts_show_border_p">内容</p>
    <p class="class_posts_show_content"><%= simple_format(@class_post.content) %></p>
  </div>
  <div>
    <p class="class_posts_show_border_p">画像</p>
    <%= image_tag @class_post.image_1.url %>
    <%= image_tag @class_post.image_2.url %>
    <%= image_tag @class_post.image_3.url %>
  </div>
</div>
