<%= form_with(model: calendar) do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
        <% calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="calendar_time" >
    <%= form.label :start_time,"日付:" %>
    <%= raw sprintf(form.date_select(:start_time,use_month_numbers:true,date_separator: "%s"), "年","月")+"日" %>

  </div>
  <div class="calendar_title">
    <%= form.label :title, "行事名:" %>
    <%= form.text_field :title %>
  </div>
  <div class="calendar_content">
    <%= form.label :content, "行事詳細" %>
    <%= form.text_area :content %>
  </div>
  <div id="calendar_submit">
    <%= form.submit %>
  </div>
<% end %>
