
<div id="parent_form_index_body">
  <div class="parent_links">
  <%= link_to "保護者システム", new_parent_form_path ,id: :parent_tops_system %>
  </div>
  <h1>お問い合わせ一覧</h1>

  <table>
    <thead>
      <tr>
        <th>保護者名</th>
        <th>子ども名前</th>
        <th>項目</th>
        <th>内容</th>
      </tr>
    </thead>

    <tbody>
      <% @parent_forms.each do |parent_form| %>
        <tr>
          <td><%= parent_form.parent_name %></td>
          <td><%= parent_form.children_name %></td>
          <td><%= parent_form.content_name %></td>
          <td><%= link_to '詳細', parent_form %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
