<p id="notice"><%= notice %></p>

<h1>Parent Forms</h1>

<table>
  <thead>
    <tr>
      <th>Children name</th>
      <th>Parent name</th>
      <th>Content name</th>
      <th>Contents</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parent_forms.each do |parent_form| %>
      <tr>
        <td><%= parent_form.children_name %></td>
        <td><%= parent_form.parent_name %></td>
        <td><%= parent_form.content_name %></td>
        <td><%= parent_form.contents %></td>
        <td><%= link_to 'Show', parent_form %></td>
        <td><%= link_to 'Edit', edit_parent_form_path(parent_form) %></td>
        <td><%= link_to 'Destroy', parent_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent Form', new_parent_form_path %>
