<!DOCTYPE html>
<html>
  <head>
    <title>こはた保育園システム</title>
    <meta name="viewport" content="width=device-width", initial-scale=1.0 > <%# メディアサイズ %>
    <%= csrf_meta_tags %> <%# 外部からの不正アクセスに対処する為のhtmlタグ %>
    <%= csp_meta_tag %>  <%# 外部からの不正アクセスに対処する為のhtmlタグ %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
  </head>

  <body>
    <div id="top_home">
      <%= link_to parent_tops_path do %>
        <%= image_tag "home.png" %>
      <% end %>
    </div>
    <%= yield %>


    <footer>
      <%= link_to 'トップへ戻る', parent_tops_path , id: :footer_links %>
    </footer>

    <%= javascript_pack_tag 'form' %>

  </body>


</html>
